* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    gap: 1rem;
    text-align: center;
}

h1 {
    min-width: 100%;
    padding: 2rem;
    font-size: 5rem;
}

.box {
    width: 90px;
    aspect-ratio: 1;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
}

.fizz {
    background-color: green;
}

.buzz {
    background-color: sienna;
}

.fizzBuzz {
    background-color: crimson;
}